<%= form_for(@news) do |f| %>
  <% if @news.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@news.errors.count, "error") %> prohibited this news from being saved:</h2>

      <ul>
      <% @news.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <form class="form-horizontal" role="form">
  <div class="form-group">
    <%= f.label :date, { :class => "col-sm-2 control-label" } %><br>
    <div class="col-sm-10">
    <%= f.datetime_select :date, { :class => "col-sm-10 form-control" } %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :Publisher, { :class => "col-sm-2 control-label" } %><br>
    <div class="col-sm-10">
    <%= f.text_field :Publisher, { :class => "col-sm-10 form-control"} %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :Title, { :class => "col-sm-2 control-label" } %><br>
    <div class="col-sm-10">
    <%= f.text_field :title, { :class => "col-sm-10 form-control"} %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :Post, { :class => "col-sm-2 control-label" } %><br>
    <div class="col-sm-10">
    <%= f.text_area :post, { :class => "col-sm-10 form-control"} %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :Title_En, { :class => "col-sm-2 control-label" } %><br>
    <div class="col-sm-10">
    <%= f.text_field :TitleEn, { :class => "col-sm-10 form-control"} %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :Post_En, { :class => "col-sm-2 control-label" }  %><br>
    <div class="col-sm-10">
    <%= f.text_field :PostEn, { :class => "col-sm-10 form-control"} %>
    </div>
  </div>
  <div class="col-sm-offset-2 col-sm-10">
    <%= f.submit 'Post', { :class => "btn btn-default" } %>
  </div>
  </form>
<% end %>
