<h1>新聞列表</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>新聞標題</th>
      <th>日期</th>
      <th>新聞內容</th>
      <th>發佈者</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @news.each do |news| %>
      <tr>
        <td><%= news.title %></td>
        <td><%= news.date %></td>
        <td><%= news.post %></td>
        <td><%= news.Publisher %></td>
        <td><%= link_to '完整內容', news %></td>
        <td><%= link_to '編輯', edit_news_path(news) %></td>
        <td><%= link_to '刪除', news, method: :delete, data: { confirm: '確定刪除這篇新聞嗎?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '發佈新聞', new_news_path %>
