<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @news.date %>
</p>

<% if request.path.include?('news_en') %>

<p>
  <strong>Title_English:</strong>
  <%= @news.TitleEn %>
</p>

<p>
  <strong>Post_English:</strong>
  <%= @news.PostEn %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= @news.Publisher %>
</p>
<% else %>

<p>
  <strong>Title:</strong>
  <%= @news.title %>
</p>

<p>
  <strong>Post:</strong>
  <%= @news.post %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= @news.Publisher %>
</p>
<% end %>

<%= link_to 'Edit', edit_news_path(@news) %> |
<%= link_to 'Back', news_index_path %>
