<%= form_for(@research_interest) do |f| %>
  <% if @research_interest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@research_interest.errors.count, "error") %> prohibited this research_interest from being saved:</h2>

      <ul>
      <% @research_interest.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :research_introduciton %><br>
    <%= f.text_area :research_introduciton %>
  </div>
  <div class="field">
    <%= f.label :research_topic %><br>
    <%= f.text_field :research_topic %>
  </div>
  <div class="field">
    <%= f.label :research_topic_en %><br>
    <%= f.text_field :research_topic_en %>
  </div>
  <div class="field">
    <%= f.label :research_details %><br>
    <%= f.text_area :research_details %>
  </div>
  <div class="field">
    <%= f.label :research_details_en %><br>
    <%= f.text_area :research_details_en %>
  </div>
  <div class="field">
    <%= f.label :current_projects %><br>
    <%= f.text_area :current_projects %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
