<h1>Listing research_interests</h1>

<table>
  <thead>
    <tr>
      <th>Research introduciton</th>
      <th>Research topic</th>
      <th>Research topic en</th>
      <th>Research details</th>
      <th>Research details en</th>
      <th>Current projects</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @research_interests.each do |research_interest| %>
      <tr>
        <td><%= research_interest.research_introduciton %></td>
        <td><%= research_interest.research_topic %></td>
        <td><%= research_interest.research_topic_en %></td>
        <td><%= research_interest.research_details %></td>
        <td><%= research_interest.research_details_en %></td>
        <td><%= research_interest.current_projects %></td>
        <td><%= link_to 'Show', research_interest %></td>
        <td><%= link_to 'Edit', edit_research_interest_path(research_interest) %></td>
        <td><%= link_to 'Destroy', research_interest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Research interest', new_research_interest_path %>
